#!/bin/bash
set -e
if [[ "$OSTYPE" =~ ^darwin ]]; then
  READLINK=greadlink
else
  READLINK=readlink
fi
THISPATH=$($READLINK -f $0)
THISDIR=$(dirname $THISPATH)
PROJECTDIR=$THISDIR

APPROOT=http://DOMAIN \
  MEETUP_API_KEY=MEETUP_API_KEY \
  $PROJECTDIR/script/devel
