#!/bin/bash
set -e
if [[ "$OSTYPE" =~ ^darwin ]]; then
  READLINK=greadlink
else
  READLINK=readlink
fi
THISPATH=$($READLINK -f $0)
THISDIR=$(dirname $THISPATH)
PROJECTDIR=$THISDIR

$PROJECTDIR/script/genconf \
  DOMAIN \
  PROXYPORT \
  DOCROOT > $PROJECTDIR/config/apache2.conf
